@font-face {
    font-family: 'Monument';
    src: url('fonts/monumentextended-regular-webfont.woff2') format('woff2'),
         url('fonts/monumentextended-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Phonk';
    src: url('fonts/phonk_regular_demo-webfont.woff2') format('woff2'),
         url('fonts/phonk_regular_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Stretch Sans';
    src: url('fonts/strretch_sans-webfont.woff2') format('woff2'),
         url('fonts/strretch_sans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

::selection {
    background: #E38BCE;
    color: white;
}

.container {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #0e0e0e;
	font-family: "Mak";
    z-index: -2;
}

.blocks {
	display: flex;
	font-size: 140px;
	color: #fff;
    opacity: 0.9;
    font-family: 'Phonk';
}

.circle-shape {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 800px;
	height: 800px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 100%;
}

.circle-shape-2 {
	position: absolute;
	top: 59%;
	left: 76%;
	transform: translate(-50%, -50%);
    transform: rotate(-45deg);
	width: 170px;
	height: 170px;
	background: #DDCDEE;
	border-radius: 10%;
}

.circle-shape-3 {
	position: absolute;
	top: 30%;
	left: 20%;
	transform: translate(-50%, -50%);
	width: 240px;
	height: 240px;
	background: #EECDEC;
	border-radius: 100%;
}

.wrapper-img {
	overflow: hidden;
	position: absolute;
	top: 35% !important;
	right: 18%;
	width: 30%;
	height: 90vh;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.box {
	background: #0e0e0e;
	opacity: 1;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 0;
}

.site-info span{
    background-color: #0b0b0b;
    padding: 5px;
}

.site-logo {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	font-family: 'Stretch Sans';
	font-size: 24px;
	line-height: 100px;
	text-transform: uppercase;
	color: #fff;
}

.navbar {
	position: fixed;
	width: 100%;
	height: 100px;
	padding: 0 40px;
	display: flex;
	justify-content: space-between;
	font-family: 'Monument', Arial, Helvetica, sans-serif !important;
	text-transform: uppercase;
	line-height: 100px;
	color: #fff;
}

.site-menu {
	display: flex;
}

.menu-item {
	margin-left: 60px;
}

.showreel {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 40px;
	font-family: 'Stretch Sans', Arial, Helvetica, sans-serif !important;
	text-transform: uppercase;
	color: #fff;
}

.source-txt {
    font-family: 'Monument';
    color: #FFCACA;
}

a {
    text-decoration: none;
    color: #fff;
    transition: 0.5s;
}
a:hover {
    color: #FFBCEF;
}

@media (max-width: 900px) {
	.navbar {
		display: none;
	}
}