.container {
    background: url(/src/assets/img/gif.gif);
    // background: url(http://media-s3-us-east-1.ceros.com/ceros-marketing/images/2019/04/16/e00e6e7534876ec6c0b2aadd90e83d66/dampportlyairedaleterrier-size-restricted-1.gif);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: lighten;
}