@font-face {
    font-family: 'Phonk';
    src: url('fonts/phonk_regular_demo-webfont.woff2') format('woff2'),
         url('fonts/phonk_regular_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Stretch Sans';
    src: url('fonts/strretch_sans-webfont.woff2') format('woff2'),
         url('fonts/strretch_sans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Monument';
    src: url('fonts/monumentextended-regular-webfont.woff2') format('woff2'),
         url('fonts/monumentextended-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

::selection {
    background-color: gray;
    color: white;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: #0e0e0e;
}

body {
    margin: 0;
    padding: 0;
}

.nav {
    position: fixed;
    width: 100%;
    height: 80px;
}

.brand, .menu {
    position: absolute;
    line-height: 80px;
}

.brand {
    font-family: 'Monument';
    color: #fff;
    font-size: 26px;
}

.brand a {
    margin-left: 40px;
    color: #fff;
    text-decoration: none;
}

.socials {
    position: absolute;
    right: 230px;
    top: 50%;
    transform: rotate(90deg);
}

.socials ul {
    list-style: none;
}

.socials ul li {
    display: inline-block;
    color: rgba(255, 255, 255, .7);
    font-family: monospace;
    font-size: 22px;
    margin-right: 40px;
}

.socials ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, .7);
}

.socials ul li a:hover {
    color: lightslategray;
}

.hero-img {
    position: absolute;
    top: 5%;
    left: 30%;
}

.hero-txt {
    position: absolute;
    top: 50%;
    left: -220px;
    font-size: 17px;
    font-family: 'Monument';
    transform: rotate(90deg);
    color: rgba(255, 255, 255, .1);
    letter-spacing: 1.5px;
    font-weight: 300;
    text-transform: uppercase;
}
